In [28]:
import sklearn
import pandas as pd
from sklearn.model_selection import train_test_split
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
from sklearn import preprocessing
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.tree import DecisionTreeClassifier
import seaborn as sns

In [18]:
df = pd.read_pickle('my_data.pkl')
le = preprocessing.LabelEncoder()

The next chunk changes all categorical data ino numerical values

In [19]:
df['addr_state'] = le.fit_transform(df['addr_state'])
df['term'] = le.fit_transform(df['term'])
df['grade'] = le.fit_transform(df['grade'])
df['emp_length'] = le.fit_transform(df['emp_length'])
df['home_ownership'] = le.fit_transform(df['home_ownership'])
df['verification_status'] = le.fit_transform(df['verification_status'])
df['purpose'] = le.fit_transform(df['purpose'])
df['initial_list_status'] = le.fit_transform(df['initial_list_status'])
df['application_type'] = le.fit_transform(df['application_type'])

In [20]:
df

,id,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,...,purpose,addr_state,dti,open_acc,total_acc,initial_list_status,last_fico_range_high,last_fico_range_low,application_type,tax_liens
0,66615254,7200.0,0,17.27,257.67,3,9,2,20000.0,2,...,2,18,13.21,8.0,17.0,1,549.0,545.0,0,0.0
1,68366850,16000.0,0,5.32,481.84,0,8,1,96000.0,0,...,2,22,14.45,23.0,38.0,1,744.0,740.0,0,0.0
2,68406994,8000.0,0,7.91,250.36,0,5,2,66500.0,2,...,4,42,29.22,10.0,13.0,1,799.0,795.0,0,0.0
3,68577378,10000.0,0,8.49,315.63,1,4,2,35000.0,0,...,1,24,33.54,12.0,30.0,1,669.0,665.0,0,0.0
4,68596525,24000.0,1,13.99,558.32,2,1,1,115000.0,2,...,2,14,17.71,11.0,32.0,1,684.0,680.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12935,90521566,6000.0,0,9.49,192.17,1,1,1,50000.0,1,...,1,44,12.48,8.0,10.0,1,684.0,680.0,0,0.0
12936,90681696,12000.0,1,14.49,282.28,2,1,2,122000.0,0,...,1,18,7.46,5.0,21.0,0,659.0,655.0,0,0.0
12937,90641703,15000.0,0,11.49,494.57,1,0,2,70000.0,0,...,2,4,27.04,19.0,30.0,1,669.0,665.0,0,0.0
12938,90441274,12000.0,0,13.99,410.08,2,0,3,47000.0,1,...,1,25,31.79,13.0,28.0,0,754.0,750.0,0,0.0
12939,90304259,35000.0,1,15.59,843.53,2,1,1,180000.0,2,...,2,9,13.09,17.0,31.0,0,714.0,710.0,0,0.0

In [26]:
def cal_accuracy(y_test, y_pred):
    print("Confusion Matrix: ",
          confusion_matrix(y_test, y_pred))
    print("Accuracy : ",
          accuracy_score(y_test, y_pred)*100)
    print("Report : ",
          classification_report(y_test, y_pred))

In [21]:
X = df.drop('loan_status', axis=1)
y = df['loan_status']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [23]:
DT = DecisionTreeClassifier()

In [24]:
DT = DT.fit(X_train, y_train)

In [25]:
y_hat = DT.predict(X_test)

In [27]:
cal_accuracy(y_test, y_hat)

Confusion Matrix:  [[ 484  229]
 [ 224 2298]]
Accuracy :  85.9969088098918
Report :                precision    recall  f1-score   support

           0       0.68      0.68      0.68       713
           1       0.91      0.91      0.91      2522

    accuracy                           0.86      3235
   macro avg       0.80      0.80      0.80      3235
weighted avg       0.86      0.86      0.86      3235