In [23]:
#interactions between variables  
import numpy as np
import pandas as pd
import sklearn
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn import preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, accuracy_score

In [18]:
df = pd.read_pickle('my_data.pkl')
df

,id,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,...,purpose,addr_state,dti,open_acc,total_acc,initial_list_status,last_fico_range_high,last_fico_range_low,application_type,tax_liens
0,66615254,7200.0,36 months,17.27,257.67,D,9 years,OWN,20000.0,Verified,...,debt_consolidation,MA,13.21,8.0,17.0,w,549.0,545.0,Individual,0.0
1,68366850,16000.0,36 months,5.32,481.84,A,8 years,MORTGAGE,96000.0,Not Verified,...,debt_consolidation,MN,14.45,23.0,38.0,w,744.0,740.0,Individual,0.0
2,68406994,8000.0,36 months,7.91,250.36,A,5 years,OWN,66500.0,Verified,...,home_improvement,TX,29.22,10.0,13.0,w,799.0,795.0,Individual,0.0
3,68577378,10000.0,36 months,8.49,315.63,B,4 years,OWN,35000.0,Not Verified,...,credit_card,MS,33.54,12.0,30.0,w,669.0,665.0,Individual,0.0
4,68596525,24000.0,60 months,13.99,558.32,C,10+ years,MORTGAGE,115000.0,Verified,...,debt_consolidation,IN,17.71,11.0,32.0,w,684.0,680.0,Individual,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12935,90521566,6000.0,36 months,9.49,192.17,B,10+ years,MORTGAGE,50000.0,Source Verified,...,credit_card,VA,12.48,8.0,10.0,w,684.0,680.0,Individual,0.0
12936,90681696,12000.0,60 months,14.49,282.28,C,10+ years,OWN,122000.0,Not Verified,...,credit_card,MA,7.46,5.0,21.0,f,659.0,655.0,Individual,0.0
12937,90641703,15000.0,36 months,11.49,494.57,B,1 year,OWN,70000.0,Not Verified,...,debt_consolidation,CA,27.04,19.0,30.0,w,669.0,665.0,Individual,0.0
12938,90441274,12000.0,36 months,13.99,410.08,C,1 year,RENT,47000.0,Source Verified,...,credit_card,MT,31.79,13.0,28.0,f,754.0,750.0,Individual,0.0
12939,90304259,35000.0,60 months,15.59,843.53,C,10+ years,MORTGAGE,180000.0,Verified,...,debt_consolidation,FL,13.09,17.0,31.0,f,714.0,710.0,Individual,0.0

In [19]:
print(list(df.columns))
print(df['loan_status'])

['id', 'loan_amnt', 'term', 'int_rate', 'installment', 'grade', 'emp_length', 'home_ownership', 'annual_inc', 'verification_status', 'loan_status', 'purpose', 'addr_state', 'dti', 'open_acc', 'total_acc', 'initial_list_status', 'last_fico_range_high', 'last_fico_range_low', 'application_type', 'tax_liens']
0        0
1        1
2        1
3        1
4        1
        ..
12935    1
12936    1
12937    1
12938    1
12939    1
Name: loan_status, Length: 12940, dtype: int64

In [24]:
le = preprocessing.LabelEncoder()
df['addr_state'] = le.fit_transform(df['addr_state'])
df['term'] = le.fit_transform(df['term'])
df['grade'] = le.fit_transform(df['grade'])
df['emp_length'] = le.fit_transform(df['emp_length'])
df['home_ownership'] = le.fit_transform(df['home_ownership'])
df['verification_status'] = le.fit_transform(df['verification_status'])
df['purpose'] = le.fit_transform(df['purpose'])
df['initial_list_status'] = le.fit_transform(df['initial_list_status'])
df['application_type'] = le.fit_transform(df['application_type'])
df

,id,loan_amnt,term,int_rate,installment,grade,emp_length,home_ownership,annual_inc,verification_status,...,purpose,addr_state,dti,open_acc,total_acc,initial_list_status,last_fico_range_high,last_fico_range_low,application_type,tax_liens
0,66615254,7200.0,0,17.27,257.67,3,9,2,20000.0,2,...,2,18,13.21,8.0,17.0,1,549.0,545.0,0,0.0
1,68366850,16000.0,0,5.32,481.84,0,8,1,96000.0,0,...,2,22,14.45,23.0,38.0,1,744.0,740.0,0,0.0
2,68406994,8000.0,0,7.91,250.36,0,5,2,66500.0,2,...,4,42,29.22,10.0,13.0,1,799.0,795.0,0,0.0
3,68577378,10000.0,0,8.49,315.63,1,4,2,35000.0,0,...,1,24,33.54,12.0,30.0,1,669.0,665.0,0,0.0
4,68596525,24000.0,1,13.99,558.32,2,1,1,115000.0,2,...,2,14,17.71,11.0,32.0,1,684.0,680.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12935,90521566,6000.0,0,9.49,192.17,1,1,1,50000.0,1,...,1,44,12.48,8.0,10.0,1,684.0,680.0,0,0.0
12936,90681696,12000.0,1,14.49,282.28,2,1,2,122000.0,0,...,1,18,7.46,5.0,21.0,0,659.0,655.0,0,0.0
12937,90641703,15000.0,0,11.49,494.57,1,0,2,70000.0,0,...,2,4,27.04,19.0,30.0,1,669.0,665.0,0,0.0
12938,90441274,12000.0,0,13.99,410.08,2,0,3,47000.0,1,...,1,25,31.79,13.0,28.0,0,754.0,750.0,0,0.0
12939,90304259,35000.0,1,15.59,843.53,2,1,1,180000.0,2,...,2,9,13.09,17.0,31.0,0,714.0,710.0,0,0.0

In [25]:
# Use loan_status directly as the target variable
y = df['loan_status']  # Assuming this column is already binary (1s and 0s)
X = df.drop(columns=['id', 'loan_status'])  # Exclude non-predictive columns



# Split the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create the pipeline
model = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', LogisticRegression(solver='liblinear'))  # Use 'liblinear' for smaller datasets
])

# Fit the model
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

# Evaluate the model
print(classification_report(y_test, y_pred))
print(f'Accuracy: {accuracy_score(y_test, y_pred)}')

              precision    recall  f1-score   support

           0       0.78      0.70      0.74       559
           1       0.92      0.94      0.93      2029

    accuracy                           0.89      2588
   macro avg       0.85      0.82      0.83      2588
weighted avg       0.89      0.89      0.89      2588

Accuracy: 0.8921947449768161